openai
streamlit
docx
pdfplumber
python-docx
nltk
fitz
requests
frontend
tools
langchain
sentence-transformers
faiss-cpu
langchain-community
PyMuPDF
tiktoken
python-dotenv
langchain-openai 